body{
    padding: 0px;
    margin: 0px;
    
}
.myContainer {
    background-image: url("https://www.hdwallpapers.in/download/bridge_between_buildings_and_godowns_hd_dark_aesthetic-1920x1080.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  

.LoginPage{
    width: 400px;
    height: 550px;
    background-color: rgba(138, 138, 138, 0.4);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);}

@media (max-width: 768px) {
    .LoginPage {
        margin-left: 0; /* Reset margin for smaller screens */
    }
}
.formm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.login-inp{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    padding: 5px;
    font-size: 20px;
}

.loginbutt{
    width: 250px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.loginbutt:hover{
    box-shadow: 10px 10px 0px #111111;
    top: -5px;
    left:-5px;
}

span{
    color: black;
}

.error{
    color:red;
    position: absolute;
    margin-bottom: 450px;
    font-size: 12px;
}

.google-signin-button{
    background-color: #4C8BF5;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    color: black;
}

.google-signin-button:hover{
    box-shadow: 10px 10px 0px #111111;
    top: -5px;
    left:-5px;
}

.logintextarea{
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: oblique;
}