body{
    padding: 0px;
    margin: 0px;
}

.myContainer {
    background-image: url("https://www.hdwallpapers.in/download/bridge_between_buildings_and_godowns_hd_dark_aesthetic-1920x1080.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  

.SignupPage{
    width: 400px;
    height: 550px;
    background-color:  rgba(138, 138, 138, 0.4);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #01010180;
}


@media (max-width: 768px) {
    .SignupPage{
        margin-left: 0;
    }
}
.formm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 10px;
    margin-top: 50px;
}

label{
font-size: 17px;
}

.signup-inp{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    padding: 5px;
    font-size: 20px;
}

.signupbutt{
    width: 250px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.signupbutt:hover{
    box-shadow: 10px 10px 0px #111111;
    top: -5px;
    left:-5px;

}

span{
    color: black;
}

.signuptextarea{
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: oblique;
}